<div class="city-information container second-screen">
  <h3 class="city-information__name title">
    {{ getWeatherCityName() }}
  </h3>
  <p>{{ getWeatherCityCountry() }}</p>
  <div class="city-information__weather">
    <p class="city-information__weather__temperature">
      Temperatura: {{ getWeatherCityTemperature() }} ºC
    </p>
    <p class="city-information__weather__description">
      Clima: {{ getWeatherDescription() }}
    </p>
    <p class="city-information__weather__rain">
      Chuva:
      {{ getRainyStatus() ? "Sim" : "Não" }}
    </p>
    <img
      class="city-information__weather__icon"
      src="{{ getWeatherIcon() }}"
      alt="Imagem representando o clima {{ getWeatherDescription() }}"
    />
    <a href="#" [routerLink]="['/pokemon']">
      <button-component [buttonText]="'Deseja caçar pokemons nessa area ?'">
      </button-component>
    </a>
  </div>
</div>
