@mixin text-style($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-align: center;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow() {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
