$backGroundColor: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$screenColor: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$textColor: black;

$buttonColor: #007bff;
$buttonColorHover: #0056b3;

$breakpontMobile: 576px;
$breakpontTablet: 767px;
$breakpontDesktop: 1025px;
