<div
  class="container pokemon-info first-screen"
  *ngIf="errorMessage.length > 0 || isLoading === true"
>
  <app-loading *ngIf="isLoading === true"></app-loading>

  <error-label
    [errorMessage]="errorMessage"
    *ngIf="errorMessage.length > 0"
  ></error-label>
  <a href="#" [routerLink]="['/']">
    <button-component
      *ngIf="errorMessage.length > 0"
      [buttonText]="'Aventurar-se em outra cidade'"
      class="pokemon-info-details__button"
    ></button-component>
  </a>
</div>
<div
  class="container pokemon-info first-screen"
  *ngIf="pokemonInformation.length > 0 && isLoading === false"
>
  <h2 class="pokemon-info__title title">Você encontrou o seguinte pokemon!</h2>
  <div class="pokemon-info__content">
    <div class="pokemon-info__img-content">
      <img
        [src]="getPokemonImage()"
        [alt]="currentPokemonName"
        class="pokemon-info__img"
      />
    </div>
    <h3 class="pokemon-info__name title">{{ currentPokemonName }}</h3>
  </div>
</div>
<div
  class="container pokemon-info-details second-screen"
  *ngIf="pokemonInformation.length > 0 && isLoading === false"
>
  <ul class="pokemon-info-details__types">
    <h4 class="pokemon-info-details__text">
      {{ getPokemonTypes().length === 1 ? "Tipo" : "Tipos" }}
    </h4>
    <li
      *ngFor="let type of getPokemonTypes()"
      class="pokemon-info-details__type"
    >
      {{ type }}
    </li>
  </ul>
  <ul class="pokemon-info-details__abilities-list">
    <h4 class="pokemon-info-details__abilities-title">
      {{ getPokemonAbilities().length === 1 ? "Habilidade" : "Habilidades" }}
    </h4>
    <li
      *ngFor="let ability of getPokemonAbilities()"
      class="pokemon-info-details__ability"
    >
      {{ ability }}
    </li>
  </ul>
  <button-component
    [buttonText]="'Encontre outro Pokemon'"
    (click)="RandomPokemon()"
    class="pokemon-info-details__button"
  ></button-component>
  <a href="#" [routerLink]="['/']">
    <button-component
      [buttonText]="'Aventurar-se em outra cidade'"
      class="pokemon-info-details__button"
    ></button-component>
  </a>
</div>
