<div class="container first-screen weather game-color">
  <h2 class="title">Onde deseja procurar Pokemons</h2>
  <form class="weather-form">
    <label for="weather-form__input" class="weather-form__city-label"
      >Insira o nome da cidade:</label
    >
    <input
      type="text"
      id="weather-form__input"
      class="weather-form__input"
      placeholder="Ex: São Paulo"
      required
      minlength="2"
      text
      [(ngModel)]="city"
      name="city"
    />
    <button-component
      [buttonText]="'Buscar'"
      (click)="getWeatherFromApiAndSendToDataBehaviorService()"
    ></button-component>
  </form>
</div>
<city-information *ngIf="weather.length > 0"></city-information>
